<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.mapper.CofUserAccountMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.study.entity.CofUserAccount">
        <id column="USER_ACCOUNT_ID" property="userAccountId" />
        <result column="CREATED_TIME" property="createdTime" />
        <result column="MODIFIED_TIME" property="modifiedTime" />
        <result column="DELETED" property="deleted" />
        <result column="TENANT_CODE" property="tenantCode" />
        <result column="ACCOUNT_EXPIRED_DATE" property="accountExpiredDate" />
        <result column="EMAIL" property="email" />
        <result column="NAME" property="name" />
        <result column="PASSWORD" property="password" />
        <result column="PASSWORD_EXPIRED_DATE" property="passwordExpiredDate" />
        <result column="START_VALID_DATE" property="startValidDate" />
        <result column="STATUS" property="status" />
        <result column="USERNAME" property="username" />
        <result column="CREATOR" property="creator" />
        <result column="MODIFIER" property="modifier" />
        <result column="data_source" property="dataSource" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        USER_ACCOUNT_ID, CREATED_TIME, MODIFIED_TIME, DELETED, TENANT_CODE, ACCOUNT_EXPIRED_DATE, EMAIL, NAME, PASSWORD, PASSWORD_EXPIRED_DATE, START_VALID_DATE, STATUS, USERNAME, CREATOR, MODIFIER, data_source
    </sql>
    <select id="selectUserPage" resultMap="BaseResultMap">
        select * from cof_user_account where USER_ACCOUNT_ID <![CDATA[ >= ]]> #{flag}
    </select>

</mapper>
